Node-RED/ChatBot.json
[{"id":"77143ad.07dacc4","type":"mqtt out","z":"69ab74c5.30ee5c","name":"","topic":"light","qos":"","retain":"","broker":"","x":630,"y":160,"wires":[]},{"id":"3476fe2f.fccc12","type":"ui_switch","z":"69ab74c5.30ee5c","name":"Switch Light","label":"Switch Light","group":"59a5e37d.aa113c","order":0,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"light","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":160,"wires":[["77143ad.07dacc4"]]},{"id":"fd8ecf97.cdb5b","type":"chatbot-facebook-receive","z":"69ab74c5.30ee5c","bot":"","botProduction":"","x":90,"y":100,"wires":[["185e523d.3e36ce"]]},{"id":"ef26cbad.6ee028","type":"chatbot-message","z":"69ab74c5.30ee5c","name":"TextNotification","message":[],"answer":false,"x":490,"y":100,"wires":[["158d46bd.c23019"]]},{"id":"31f25b81.ee0fd4","type":"function","z":"69ab74c5.30ee5c","name":"","func":"var sw = msg.payload.variables.switch;\nvar device = msg.payload.variables.device;\nvar weather = msg.payload.variables.weather;\nvar dated = msg.payload.variables.dated;\n\nvar tempc = global.get(\"tempc\");\nvar hum = global.get(\"hum\");\nvar weath = global.get(\"weather\");\nvar five = global.get(\"5day\");\n\nif((msg.payload.variables.temp) == \"temperature\"){\n    if(tempc >= 30){\n        msg.payload = \"Temperature is \" + tempc +\"°C. I feel so hot :(\";\n        return [msg,null,null]\n    }\n    else{\n        msg.payload = \"Aha Temperature is \"+tempc+\"°C. Very very fresh :D :D\";\n        return [msg,null,null]\n    } \n    \n}\nif((msg.payload.variables.hum) == \"humidity\"){\n    msg.payload = \"Humidity is \" + hum +\"%.\";\n    return [msg,null,null]\n}\n\nif(weather == \"weather\" && dated == \"today\"){\n    msg.payload = \"Today at \"+weath.loc+\", weather forecast is \"+weath.detail+\", Current temperature is \"+weath.tempc+\"°C, the highest temperature is \"+ weath.temp_max+\"°C and lowest temperature is \"+weath.temp_min+\"°C. Humidity is \"+weath.hum+\"%. And windspeed is \"+weath.winsp+\" m/s\";\n    return [msg,null,null];\n}\n\nif(sw == \"on\" && device == \"light\" || device == \"led\"){\n    msg.payload = \"on\";\n    return [null,msg,null];\n}\nif(sw == \"off\" && device == \"light\" || device == \"led\"){\n    msg.payload = \"off\";\n    return [null,msg,null];\n}\n\nif(sw == \"on\" && device == \"fan\"){\n    msg.payload = 'on';\n    return [null,null,msg];\n}\nif(sw == \"off\" && device == \"fan\"){\n    msg.payload = 'off';\n    return [null,null,msg];\n}","outputs":3,"noerr":0,"x":250,"y":280,"wires":[["ef26cbad.6ee028"],["3476fe2f.fccc12"],["480fe31.25d2e1c"]]},{"id":"480fe31.25d2e1c","type":"ui_switch","z":"69ab74c5.30ee5c","name":"Switch Fan","label":"Switch Fan","group":"59a5e37d.aa113c","order":0,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"fan","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":220,"wires":[["3f803ad5.b4e3c6"]]},{"id":"3f803ad5.b4e3c6","type":"mqtt out","z":"69ab74c5.30ee5c","name":"","topic":"fan","qos":"","retain":"","broker":"","x":630,"y":220,"wires":[]},{"id":"e8bbf69.c725008","type":"chatbot-debug","z":"69ab74c5.30ee5c","x":350,"y":60,"wires":[]},{"id":"f16eea51.6bbc28","type":"chatbot-message","z":"69ab74c5.30ee5c","name":"Dialogflow","message":[{"message":""}],"answer":false,"x":270,"y":340,"wires":[["158d46bd.c23019"]]},{"id":"b0d98f9d.58ae3","type":"chatbot-message","z":"69ab74c5.30ee5c","name":"","message":[{"message":"I didn't get that. Can you say it again?\n            "},{"message":" I missed what you said. Say it again?"},{"message":"Sorry, could you say that again?"},{"message":"Sorry, can you say that again?"},{"message":"Can you say that again?"},{"message":"Sorry, I didn't get that"},{"message":"Sorry, what was that?"},{"message":"One more time?"},{"message":"What was that?"},{"message":"Say that again?"},{"message":"I didn't get that."},{"message":"I missed that"}],"answer":false,"x":250,"y":380,"wires":[["158d46bd.c23019"]]},{"id":"69a45af.c0b18a4","type":"link in","z":"69ab74c5.30ee5c","name":"Switch Fan","links":["b59d7180.beb1b"],"x":315,"y":220,"wires":[["480fe31.25d2e1c"]]},{"id":"3f624c5a.45a0a4","type":"link in","z":"69ab74c5.30ee5c","name":"Switch Light","links":["615fda86.6af1a4","928e521a.42c74","c9c331b2.fa622","1f4bd2da.f75d4d"],"x":315,"y":160,"wires":[["3476fe2f.fccc12"]]},{"id":"39749406.27a44c","type":"link in","z":"69ab74c5.30ee5c","name":"\bTextNotification","links":["65f2544b.35b02c"],"x":315,"y":100,"wires":[["ef26cbad.6ee028"]]},{"id":"158d46bd.c23019","type":"chatbot-facebook-send","z":"69ab74c5.30ee5c","bot":"","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":730,"y":320,"wires":[]},{"id":"185e523d.3e36ce","type":"chatbot-dialogflow","z":"69ab74c5.30ee5c","dialogflow":"","language":"en","debug":false,"variable":"","x":140,"y":200,"wires":[["31f25b81.ee0fd4","e8bbf69.c725008","f16eea51.6bbc28"],["b0d98f9d.58ae3"]]},{"id":"59a5e37d.aa113c","type":"ui_group","z":"","name":"EQUIPMENT IN THE OFFICE","tab":"f70bfff7.910aa","order":8,"disp":true,"width":"6","collapse":false},{"id":"f70bfff7.910aa","type":"ui_tab","z":"","name":"DASHBOARD","icon":"dashboard","order":1}]
