Node-RED/Detect_Alexa.txt
[{"id":"faad98f6.249f48","type":"link out","z":"a24e42b2.12adc","name":"","links":["78ef84a9.bb268c","4de8c1de.31a45"],"x":335,"y":120,"wires":[]},{"id":"5e0704e9.49371c","type":"function","z":"a24e42b2.12adc","name":"Temp && Fan","func":"var tempc = global.get(\"tempc\");\nvar date = new Date();\nvar hours = date.getHours();\nvar minutes = date.getMinutes();\nvar hhmm = hours+\":\"+minutes;\n//msg.payload = hours;\n\nif (hours >= 8 && hours <= 23){\n    if (tempc == 31){\n        msg.payload = \"on\";\n        return msg;\n    }\n    if (tempc == 30.8){\n        msg.payload = \"off\";\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":190,"y":120,"wires":[["8831e0ff.c5b66","faad98f6.249f48"]]},{"id":"67bb0e06.2431d","type":"inject","z":"a24e42b2.12adc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["5e0704e9.49371c"]]},{"id":"8831e0ff.c5b66","type":"debug","z":"a24e42b2.12adc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":60,"wires":[]},{"id":"615fda86.6af1a4","type":"link out","z":"a24e42b2.12adc","name":"","links":["737f4159.14b7e","1e1ba605.d52a8a"],"x":335,"y":220,"wires":[]},{"id":"90523400.49b7e","type":"function","z":"a24e42b2.12adc","name":"Monito Light","func":"var motion = msg.payload;\nif(motion){\n    msg.payload = \"on\";\n    return msg\n}\n","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["615fda86.6af1a4"]]},{"id":"f14dd188.0f524","type":"alexa-local","z":"a24e42b2.12adc","devicename":"Fan","inputtrigger":false,"x":70,"y":300,"wires":[["44534ca4.67cb14"]]},{"id":"89e0a474.6bc6b8","type":"alexa-local","z":"a24e42b2.12adc","devicename":"Light","inputtrigger":false,"x":70,"y":380,"wires":[["c9c331b2.fa622"]]},{"id":"44534ca4.67cb14","type":"link out","z":"a24e42b2.12adc","name":"","links":["78ef84a9.bb268c","4de8c1de.31a45"],"x":175,"y":300,"wires":[]},{"id":"c9c331b2.fa622","type":"link out","z":"a24e42b2.12adc","name":"","links":["737f4159.14b7e","1e1ba605.d52a8a"],"x":175,"y":380,"wires":[]},{"id":"46926336.81498c","type":"inject","z":"a24e42b2.12adc","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["615fda86.6af1a4","faad98f6.249f48"]]}]