Node-RED/FireBase.txt
[{"id":"bc1ec59f.717ed8","type":"link in","z":"b5d2fd1e.1074e","name":"TempC","links":["c6ea0984.7d6d88","3c6534e5.4e727c","df19a145.1c747"],"x":35,"y":20,"wires":[["18d4afff.0c30e"]]},{"id":"1a10d92f.ba1d57","type":"function","z":"b5d2fd1e.1074e","name":"","func":"var date = new Date().toISOString().split('T')[0];\nvar d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar fd = date + \" \"+ h +\":\"+ m +\":\"+s; \nvar msg = {\n    payload:{\n        tempC: parseInt(msg.payload),\n    },\n    childpath: \"dbOffice/sensorTempC/\"+ fd\n};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["9c2a2b1c.d084a8","fbe918a3.fd51f8"]]},{"id":"fbe918a3.fd51f8","type":"firebase modify","z":"b5d2fd1e.1074e","name":"","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":630,"y":220,"wires":[[]]},{"id":"18d4afff.0c30e","type":"delay","z":"b5d2fd1e.1074e","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":230,"y":20,"wires":[[]]},{"id":"e4e456d5.b4f8e8","type":"function","z":"b5d2fd1e.1074e","name":"","func":"var date = new Date().toISOString().split('T')[0];\nvar d = new Date();\nvar h = d.getHours();\nvar m = d.getMinutes();\nvar s = d.getSeconds();\nvar fd = date + \" \"+ h +\":\"+ m +\":\"+s;\nvar msg = {\n    payload:{\n        Hum: parseInt(msg.payload),\n    },\n    childpath: \"dbOffice/sensorHum/\"+ fd\n};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["9c2a2b1c.d084a8","fbe918a3.fd51f8"]]},{"id":"8fead8f5.617228","type":"link in","z":"b5d2fd1e.1074e","name":"Hum","links":["656211c.26717f","a274b47d.9ce088","ac2da7b7.85d9f8"],"x":35,"y":80,"wires":[["f4870b7e.86fd58"]]},{"id":"9c2a2b1c.d084a8","type":"debug","z":"b5d2fd1e.1074e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":160,"wires":[]},{"id":"f4870b7e.86fd58","type":"delay","z":"b5d2fd1e.1074e","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":230,"y":80,"wires":[[]]}]