Node-RED/RunTime.json
[{"id":"8dfa6f2a.32da8","type":"ui_text","z":"9c8b9bc0.858358","group":"27ba0d20.5df2d2","order":5,"width":"5","height":"2","name":"Clock","label":"","format":"{{msg.payload}}","layout":"col-center","x":690,"y":100,"wires":[]},{"id":"aeab7efa.9b441","type":"function","z":"9c8b9bc0.858358","name":"time format","func":"var date = new Date();\nvar hours = \"0\" + date.getHours();\nvar minutes = \"0\" + date.getMinutes();\n\n// Will display time in 10:30 format\nvar formattedTime = hours.substr(-2) + ':' + minutes.substr(-2);\n\nmsg.payload = formattedTime;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["8dfa6f2a.32da8"]]},{"id":"6e23e216.2ffc4c","type":"Loadavg","z":"9c8b9bc0.858358","name":"","x":280,"y":140,"wires":[["a42265d0.e1f478"]]},{"id":"eae7796f.e3cfa8","type":"Memory","z":"9c8b9bc0.858358","name":"","x":280,"y":220,"wires":[["9aad53b3.b1d3f"]]},{"id":"a42265d0.e1f478","type":"function","z":"9c8b9bc0.858358","name":"","func":"var load = msg.payload.loadavg[0] * 100 / 2.0;\nmsg.payload = load.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["9ab83cc1.525fd","c7ad3745.2bfac8"]]},{"id":"9aad53b3.b1d3f","type":"function","z":"9c8b9bc0.858358","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["e6fd97bf.3b4c98","9f081979.208e38"]]},{"id":"90bcc2aa.3cf12","type":"inject","z":"9c8b9bc0.858358","name":"every 15s","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"","x":110,"y":160,"wires":[["6e23e216.2ffc4c","eae7796f.e3cfa8","a109f32e.708e6","aeab7efa.9b441"]]},{"id":"9ab83cc1.525fd","type":"ui_gauge","z":"9c8b9bc0.858358","name":"","group":"f7271e50.e13ba","order":6,"width":"6","height":"5","gtype":"gage","title":"Server","label":"%","format":"{{value}}","min":"0","max":"500","colors":["#00e6ff","#00bcff","#0088ff"],"seg1":"","seg2":"","x":690,"y":140,"wires":[]},{"id":"e6fd97bf.3b4c98","type":"ui_gauge","z":"9c8b9bc0.858358","name":"","group":"b6359816.4267c8","order":2,"width":"6","height":"5","gtype":"gage","title":"Server","label":"%","format":"{{value}}","min":"0","max":"200","colors":["#00e6ff","#00bcff","#0088ff"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"a109f32e.708e6","type":"Uptime","z":"9c8b9bc0.858358","name":"","x":280,"y":300,"wires":[["4829898b.d89bb8"]]},{"id":"4829898b.d89bb8","type":"function","z":"9c8b9bc0.858358","name":"","func":"var seconds = msg.payload.uptime;\nvar numdays = Math.floor(seconds / 86400);\nvar numhours = Math.floor((seconds % 86400) / 3600);\nvar numminutes = Math.floor(((seconds % 86400) % 3600) / 60);\nvar numseconds = ((seconds % 86400) % 3600) % 60;\nvar text = \"\";\nif (numdays > 0)\n    text += numdays + \"d \";\nif (numhours > 0)\n    text += numhours + \"hr \";\nif (numminutes > 0)\n    text += numminutes + \"min \";\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["ef5d1986.2688b8"]]},{"id":"ef5d1986.2688b8","type":"ui_text","z":"9c8b9bc0.858358","group":"27ba0d20.5df2d2","order":1,"width":"5","height":"2","name":"Uptime","label":"Uptime","format":"{{msg.payload}}","layout":"row-center","x":700,"y":300,"wires":[]},{"id":"c7ad3745.2bfac8","type":"ui_chart","z":"9c8b9bc0.858358","name":"","group":"5b66d2bd.ac464c","order":3,"width":"9","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":690,"y":180,"wires":[[],[]]},{"id":"9f081979.208e38","type":"ui_chart","z":"9c8b9bc0.858358","name":"","group":"717263eb.660d9c","order":4,"width":"9","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":690,"y":260,"wires":[[],[]]},{"id":"aabdece5.eb6a","type":"ui_template","z":"9c8b9bc0.858358","group":"3ab451f0.251c4e","name":"User Profile","order":0,"width":"6","height":"5","format":"<script defer src=\"https://use.fontawesome.com/releases/v5.0.9/js/all.js\" integrity=\"sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl\" crossorigin=\"anonymous\"></script>\n<style>\n.user{width: 100%;}\n    .thumbnail {\n    height: 80px;\n    width: auto;\n    margin: auto;\n    display: block;\n    border-radius:50%;\n    background: #cccccc;\n    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);\n    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);\n    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);\n    border: 2px solid #ddd;\n    }\n    .name,.address{text-align: center;\n        text-shadow: 4px 4px rgba(0,0,0,0.75);\n    }\n    .infouser{  font-size: 25px;\n                margin-top: 15px;\n                color: #0a7479;\n                width:auto;\n                text-align: center;\n    }\n    .icon{margin:5px;}\n</style>\n<div class=\"user\">\n\t<div>\n\t\t<img class=\"thumbnail\" src=\"https://lh6.googleusercontent.com/-_QGBSaQPp1Q/AAAAAAAAAAI/AAAAAAAAAFg/fz-t6JecahI/photo.jpg\" alt=\"img\">\n\t</div>\n\t\n\t<h1 class=\"name\">Trung Nghia</h1>\n\t<h3 class=\"address\">7 District, HCM City</h3>\n\t<div style=\"width:100%\" class=\"infouser\">\n\t    <a href=\"#\" class=\"fas fa-user icon\" aria-hidden=\"true\"></a>\n\t    <a href=\"#\" class=\"fas fa-cogs icon\" aria-hidden=\"true\"></a>\n\t    <a href=\"#\" class=\"fab fa-periscope icon\" aria-hidden=\"true\"></a>\n\t    <a href=\"#\" class=\"fab fa-apple icon\" aria-hidden=\"true\"></a>\n\t</div>\n</div>\n<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":90,"y":40,"wires":[[]]},{"id":"27ba0d20.5df2d2","type":"ui_group","z":"","name":"CLOCK & UPTIME","tab":"5b1caaea.f91934","order":6,"disp":true,"width":"6","collapse":false},{"id":"f7271e50.e13ba","type":"ui_group","z":"","name":"CPUs","tab":"5b1caaea.f91934","order":2,"disp":true,"width":"6","collapse":false},{"id":"b6359816.4267c8","type":"ui_group","z":"","name":"MEMORY","tab":"5b1caaea.f91934","order":3,"disp":true,"width":"6","collapse":false},{"id":"5b66d2bd.ac464c","type":"ui_group","z":"","name":"CHART CPU","tab":"5b1caaea.f91934","order":4,"disp":true,"width":"9","collapse":false},{"id":"717263eb.660d9c","type":"ui_group","z":"","name":"CHART MEMORY","tab":"5b1caaea.f91934","order":5,"disp":true,"width":"9","collapse":false},{"id":"3ab451f0.251c4e","type":"ui_group","z":"","name":"USER PROFILE","tab":"5b1caaea.f91934","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b1caaea.f91934","type":"ui_tab","z":"","name":"RUN TIME","icon":"dashboard","order":2}]
