Node-RED/Sensor_API.txt
[{"id":"cb75b4a1.92a998","type":"mqtt in","z":"b279f706.446568","name":"sensor/humidity_follow_F","topic":"sensor/temperature_follow_F","qos":"0","broker":"","x":210,"y":251,"wires":[["d1b6fa2e.7c6ea8","cb2097d1.61b118"]]},{"id":"75d41efd.0c2ba","type":"mqtt in","z":"b279f706.446568","name":"sensor/humidity","topic":"sensor/humidity","qos":"0","broker":"","x":180,"y":340,"wires":[["d0eb6f7c.3f7db","ac67f032.4e92b","9f8bd2e5.196a3","656211c.26717f"]]},{"id":"8987fa7c.e3e428","type":"mqtt in","z":"b279f706.446568","name":"Motion","topic":"Notification Danger","qos":"0","broker":"","x":150,"y":420,"wires":[[]]},{"id":"61b44f51.6eac8","type":"e-mail","z":"b279f706.446568","server":"smtp.gmail.com","port":"587","secure":false,"name":"chyngia@gmail.com","dname":"send mail","x":400,"y":380,"wires":[]},{"id":"231e52dc.d8dfae","type":"function","z":"b279f706.446568","name":"Store Tempc","func":"global.set(\"tempc\",msg.payload);\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[[]]},{"id":"ac67f032.4e92b","type":"function","z":"b279f706.446568","name":"Store Hum","func":"global.set(\"hum\", msg.payload);\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\nmsg.hum = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[[]]},{"id":"5855ffd7.0565f","type":"chatbot-conversation","z":"b279f706.446568","name":"","botTelegram":"","botSlack":"","botFacebook":"","botViber":"","chatId":"1888877791132095","transport":"facebook","messageId":"","contextMessageId":false,"store":"","x":410,"y":560,"wires":[["aa9ba632.5f7918"]]},{"id":"e4d69a9d.8f77e8","type":"mqtt in","z":"b279f706.446568","name":"","topic":"Fire","qos":"0","broker":"","x":150,"y":500,"wires":[["4a75147b.e8858c"]]},{"id":"26af164f.d2252a","type":"nexmo","z":"b279f706.446568","name":"SMS","topic":"Notification","auth":"8d0e1cd6.7df53","cred":"30318061.62f6e","x":390,"y":460,"wires":[["691965ea.e9843c"]]},{"id":"cd1e351a.b379d8","type":"openweathermap","z":"b279f706.446568","name":"Current Day","wtype":"current","lon":"106.660172","lat":"10.762622","city":"","country":"","language":"en","x":230,"y":700,"wires":[["aad2d000.47ee5"]]},{"id":"aad2d000.47ee5","type":"function","z":"b279f706.446568","name":"get ","func":"msg.payload = {loc: msg.payload.location,\ndetail:msg.payload.detail,\ntempc:msg.payload.tempc,\ntemp_max:msg.payload.temp_maxc,\ntemp_min:msg.payload.temp_minc,\nhum:msg.payload.humidity,\nwinsp:msg.payload.windspeed,\nsunrise: new Date(msg.payload.sunrise*1000),\nsunset: new Date(msg.payload.sunset*1000)\n};\n\nglobal.set(\"weather\",msg.payload);\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":760,"wires":[[]]},{"id":"a13d9750.ac89d8","type":"inject","z":"b279f706.446568","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"10","x":170,"y":640,"wires":[["cd1e351a.b379d8"]]},{"id":"691965ea.e9843c","type":"debug","z":"b279f706.446568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":420,"wires":[]},{"id":"c33738b3.b219c8","type":"openweathermap","z":"b279f706.446568","name":"5 Day Forecast","wtype":"forecast","lon":"106.660172","lat":"10.762622","city":"","country":"","language":"en","x":240,"y":860,"wires":[["7009b814.8763a8"]]},{"id":"c4e2502d.ea793","type":"inject","z":"b279f706.446568","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"10","x":170,"y":800,"wires":[["c33738b3.b219c8"]]},{"id":"7009b814.8763a8","type":"function","z":"b279f706.446568","name":"","func":"var day1 = msg.payload[2];\nvar day2 = msg.payload[10];\nvar day3 = msg.payload[18];\nvar day4 = msg.payload[26];\nvar day5 = msg.payload[34];\n\nmsg.payload={\n    dayOne:\n    {\n        \"temp\": day1.main.temp+\"°C\",\n        \"temp_min\": day1.main.temp_min+\"°C\",\n        \"temp_max\": day1.main.temp_max+\"°C\",\n        \"hum\": day1.main.humidity+\"%RH\",\n        \"win\": day1.wind.speed+\" m/s\",\n        \"weath\": day1.weather[0].description,\n        \"date\": day1.dt_txt.slice(0, 10)\n    },\n    dayTwo:\n    {\n        \"temp\": day2.main.temp+\"°C\",\n        \"temp_min\": day2.main.temp_min+\"°C\",\n        \"temp_max\": day2.main.temp_max+\"°C\",\n        \"hum\": day2.main.humidity+\"%RH\",\n        \"win\": day2.wind.speed+\" m/s\",\n        \"weath\": day2.weather[0].description,\n        \"date\": day2.dt_txt\n    },\n    dayThree:\n    {\n        \"temp\": day3.main.temp+\"°C\",\n        \"temp_min\": day3.main.temp_min+\"°C\",\n        \"temp_max\": day3.main.temp_max+\"°C\",\n        \"hum\": day3.main.humidity+\"%RH\",\n        \"win\": day3.wind.speed+\" m/s\",\n        \"weath\": day3.weather[0].description,\n        \"date\": day3.dt_txt\n    },\n    dayFour:\n    {\n        \"temp\": day4.main.temp+\"°C\",\n        \"temp_min\": day4.main.temp_min+\"°C\",\n        \"temp_max\": day4.main.temp_max+\"°C\",\n        \"hum\": day4.main.humidity+\"%RH\",\n        \"win\": day4.wind.speed+\" m/s\",\n        \"weath\": day4.weather[0].description,\n        \"date\": day4.dt_txt\n    },\n    dayFive:\n    {\n       \"temp\": day4.main.temp+\"°C\",\n        \"temp_min\": day4.main.temp_min+\"°C\",\n        \"temp_max\": day4.main.temp_max+\"°C\",\n        \"hum\": day4.main.humidity+\"%RH\",\n        \"win\": day4.wind.speed+\" m/s\",\n        \"weath\": day4.weather[0].description,\n        \"date\": day4.dt_txt \n    }\n}\nglobal.set(\"5day\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":920,"wires":[[]]},{"id":"aa9ba632.5f7918","type":"link out","z":"b279f706.446568","name":"","links":["81f27e80.e450c","bbf83819.7ec048"],"x":535,"y":560,"wires":[]},{"id":"e26c82f9.679ba","type":"ui_date_picker","z":"b279f706.446568","name":"","label":"Calendar","group":"85ede221.e92f3","order":0,"width":"6","height":"2","passthru":false,"topic":"","x":160,"y":140,"wires":[[]]},{"id":"5bc423e0.a0897c","type":"ui_gauge","z":"b279f706.446568","name":"Temperature C","group":"fe6fab44.046d58","order":0,"width":"6","height":"5","gtype":"wave","title":"","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":191,"wires":[]},{"id":"d1b6fa2e.7c6ea8","type":"ui_gauge","z":"b279f706.446568","name":"Temperature F","group":"482ddee3.cddfb","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"°F","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":251,"wires":[]},{"id":"d0eb6f7c.3f7db","type":"ui_gauge","z":"b279f706.446568","name":"Humidity","group":"b31d541c.658f58","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"%RH","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":340,"wires":[]},{"id":"cb2097d1.61b118","type":"ui_chart","z":"b279f706.446568","name":"Temperature F","group":"55024576.00373c","order":0,"width":"12","height":"5","label":"Temperature F","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2aa7ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":720,"y":260,"wires":[[],[]]},{"id":"e4c2c985.06d288","type":"ui_chart","z":"b279f706.446568","name":"Temperature C","group":"5e2084e.9531f7c","order":0,"width":"12","height":"5","label":"Temperature C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2aa7ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":740,"y":200,"wires":[[],[]]},{"id":"4a75147b.e8858c","type":"ui_toast","z":"b279f706.446568","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"I Know","cancel":"","topic":"Notification !!!!!","name":"","x":410,"y":420,"wires":[[]]},{"id":"c4cf75fd.3f6da8","type":"ui_template","z":"b279f706.446568","group":"ec7a387d.272018","name":"User Profile","order":0,"width":"6","height":"5","format":"<link href=\"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n<style>\n.user{width: 100%;}\n    .thumbnail {\n    height: 80px;\n    width: auto;\n    margin: auto;\n    display: block;\n    border-radius:50%;\n    background: #cccccc;\n    -webkit-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);\n    -moz-box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);\n    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);\n    border: 2px solid #ddd;\n    }\n    .name,.address,.skill{text-align: center;\n        text-shadow: 4px 4px rgba(0,0,0,0.75);\n    }\n    .address{color: #087479}\n    .skill{font-size: 15px;}\n</style>\n<div class=\"user\">\n\t<div>\n\t\t<img class=\"thumbnail\" src=\"https://lh6.googleusercontent.com/-_QGBSaQPp1Q/AAAAAAAAAAI/AAAAAAAAAFg/fz-t6JecahI/photo.jpg\" alt=\"img\">\n\t</div>\n\t\n\t<h1 class=\"name\">Trung Nghĩa</h1>\n\t<h3 class=\"skill\">PHP-NodeJS-ReactJS-NodeRED</h3>\n\t<h3 class=\"address\">\"Life is short, and we should respect every moment of it\"</h3>\n\t\n</div>\n<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":40,"wires":[[]]},{"id":"9f8bd2e5.196a3","type":"ui_chart","z":"b279f706.446568","name":"Humidity","group":"7bed6d84.cd1f54","order":0,"width":"12","height":"5","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2aa7ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":700,"y":340,"wires":[[],[]]},{"id":"c6ea0984.7d6d88","type":"link out","z":"b279f706.446568","name":"TempC","links":["bc1ec59f.717ed8"],"x":415,"y":100,"wires":[]},{"id":"656211c.26717f","type":"link out","z":"b279f706.446568","name":"Hum","links":["8fead8f5.617228"],"x":395,"y":280,"wires":[]},{"id":"247ed9aa.73c556","type":"mqtt in","z":"b279f706.446568","name":"sensor/temperature_follow_C","topic":"sensor/temperature_follow_C","qos":"0","broker":"","x":220,"y":200,"wires":[["5bc423e0.a0897c","231e52dc.d8dfae","e4c2c985.06d288","c6ea0984.7d6d88"]]},{"id":"8d0e1cd6.7df53","type":"nexmo-auth","z":"","name":"Undefined"},{"id":"30318061.62f6e","type":"nexmo-credentials","z":"","name":"Neko","from":"Neko","number":"841638552541"},{"id":"85ede221.e92f3","type":"ui_group","z":"b279f706.446568","name":"CALENDAR","tab":"f70bfff7.910aa","order":9,"disp":true,"width":"6","collapse":false},{"id":"fe6fab44.046d58","type":"ui_group","z":"b279f706.446568","name":"TEMPERATURE OF C","tab":"f70bfff7.910aa","order":2,"disp":true,"width":"6","collapse":false},{"id":"482ddee3.cddfb","type":"ui_group","z":"b279f706.446568","name":"TEMPERATURE OF F","tab":"f70bfff7.910aa","order":3,"disp":true,"width":"6","collapse":false},{"id":"b31d541c.658f58","type":"ui_group","z":"b279f706.446568","name":"HUMIDITY","tab":"f70bfff7.910aa","order":4,"disp":true,"width":"6","collapse":false},{"id":"55024576.00373c","type":"ui_group","z":"b279f706.446568","name":"CHART IN OFFICE ROOM","tab":"f70bfff7.910aa","order":6,"disp":true,"width":"12","collapse":false},{"id":"5e2084e.9531f7c","type":"ui_group","z":"b279f706.446568","name":"TEMPERATURE OF CHART","tab":"f70bfff7.910aa","order":5,"disp":true,"width":"12","collapse":false},{"id":"ec7a387d.272018","type":"ui_group","z":"b279f706.446568","name":"USER PROFILE","tab":"f70bfff7.910aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bed6d84.cd1f54","type":"ui_group","z":"b279f706.446568","name":"CHART IN OFFICE ROOM","tab":"f70bfff7.910aa","order":7,"disp":true,"width":"12","collapse":false},{"id":"f70bfff7.910aa","type":"ui_tab","z":"","name":"DASHBOARD","icon":"dashboard","order":1}]